/* FOOTER */
.footer {
  background-color: #40405a;
  color: #fff;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1 rem;
}

.footer-content {
  width: 80%;
  max-width: 1200px;
  padding: 0 20px;
  text-align: center;
}


.social-icons a {
  margin: 0 20px;
}


.social-icons img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.social-icons img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
  opacity: 1;
  filter: brightness(1);

}

footer p {
  margin: 5px 0;
}

footer p a {
  text-decoration: none;
  color: white
}

footer p a:hover {
  color: #ad3181
}

footer hr {
  border: 0;
  border-top: 1px solid black;
  margin: 15px 0;
}

/* Responsiveness for small devices */
@media (max-width: 600px) {
  .social-icons a {
    margin: 0 10px;
  }
}