<footer class="footer">
  <div class="footer-content">
    <div class="social-icons">
      <a href="https://www.linkedin.com/in/camila-apai" target="_blank" rel="noopener noreferrer">
        <img src="/assets/linkedin.png" alt="Camila Apai LinkedIn Profile" />
      </a>
      <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer">
        <img src="/assets/instagram.png" alt="Camila Apai Instagram Profile" />
      </a>
      <a href="https://github.com/CamilaApai?tab=projects" target="_blank" rel="noopener noreferrer">
        <img src="/assets/github.png" alt="Camila Apai GitHub Profile" />
      </a>
    </div>
    <hr />
    <p>🔗 <a href="/attribution">Resources Used</a></p>
    <p>© {{ currentYear }} OutfitMatch. All rights reserved.</p>
  </div>
</footer>
