/* HEADER */
.header {
  background-color: #40405a;
  color: #fff;
  padding: 1rem 0;
  font-size: 1rem;
  font-family: "Arial", sans-serif;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.logo a {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.logo a:hover {
  transform: scale(1.02);
  color: #ad3181;
}

.navbar a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #fff;
}

.navbar a.active,
.navbar a:hover {
  color: #ad3181;
}
