<div class="overlay">
  <div class="modal">
    <h2>Add Clothing Item</h2>

    <!-- Image Preview -->
    <div *ngIf="previewImage" class="image-preview">
      <img [src]="previewImage" alt="Preview" />
    </div>

    <!-- Image upload -->
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
      #fileInput
    />

   <!-- Choose Image Button -->
    <button class="chooseImage-btn" (click)="fileInput.click()">
      Choose Image
    </button>

    <!-- Name -->
    <div class="form-group">
      <label>Name</label>
      <input
        type="text"
        placeholder="e.g. Black winter shoes"
        [(ngModel)]="itemName"
      />
    </div>

    <!-- Category -->
    <div class="form-group">
      <label>Category</label>
      <select [(ngModel)]="selectedCategory">
        <option value="">Select one</option>
        <option value="top">Top</option>
        <option value="bottom">Bottom</option>
        <option value="fullbody">Full Body</option>
        <option value="shoes">Shoes</option>
        <option value="accessory">Accessory</option>
      </select>
    </div>

    <!-- Color -->
    <div class="form-group">
      <label>Color</label>
      <select [(ngModel)]="selectedColor">
        <option value="">Select one</option>
        <option value="black">Black</option>
        <option value="blue">Blue</option>
        <option value="brown">Brown</option>
        <option value="gray">Gray</option>
        <option value="green">Green</option>
        <option value="orange">Orange</option>
        <option value="pink">Pink</option>
        <option value="purple">Purple</option>
        <option value="red">Red</option>
        <option value="white">White</option>
        <option value="yellow">Yellow</option>
      </select>
    </div>

    <!-- Season -->
    <div class="form-group">
      <label>Season</label>
      <select [(ngModel)]="selectedSeason">
        <option value="">Select one</option>
        <option value="summer">Summer</option>
        <option value="winter">Winter</option>
        <option value="spring">Spring</option>
        <option value="fall">Fall</option>
        <option value="all">All Seasons</option>
        
      </select>
    </div>

    <!-- Buttons -->
    <div class="modal-actions">
      <button class="save-btn" (click)="saveItem()">Save</button>
      <button class="close-btn" (click)="cancel()">Close</button>
    </div>
  </div>
</div>
