<div class="overlay">
  <div class="modal">
    <h2>Add Clothing Item</h2>

    <!-- Image Preview -->
    <div *ngIf="previewImage" class="image-preview">
      <img [src]="previewImage" alt="Preview" />
    </div>

    <!-- Image upload -->
    <input
      type="file"
      accept="image/*"
      (change)="onFileSelected($event)"
      style="display: none"
      #fileInput
    />

   <!-- Choose Image Button -->
    <button class="chooseImage-btn" (click)="fileInput.click()">
      Choose Image
    </button>

    <!-- Name -->
    <div class="filter-group">
      <label>Name</label>
      <input
        type="text"
        placeholder="e.g. Black winter shoes"
        [(ngModel)]="itemName"
      />
    </div>

    <!-- Category Filter -->
    <div class="filter-group">
      <label>Category</label>
      <select [(ngModel)]="filterCategory">
        <option value="">Select one</option>
        <option *ngFor="let c of categories" [value]="c.value">
          {{ c.label }}
        </option>
      </select>
      
      <!-- Color Filter -->
      <label>Color</label>
      <select [(ngModel)]="filterColor">
        <option value="">Select one</option>
        <option *ngFor="let c of colors" [value]="c.value">
          {{ c.label }}
        </option>
      </select>
      
      <!-- Season Filter -->
      <label>Season</label>
      <select [(ngModel)]="filterSeason">
        <option value="">Select one</option>
        <option *ngFor="let s of seasons" [value]="s.value">
          {{ s.label }}
        </option>
      </select>
    </div>

    <!-- Buttons -->
    <div class="modal-actions">
      <button class="save-btn" (click)="saveItem()">Save</button>
      <button class="close-btn" (click)="cancel()">Close</button>
    </div>
  </div>
</div>
