<div class="closet-container">
  <h2>My Closet</h2>

  <!-- Upload -->
  <button class="upload-btn" (click)="openUploadModal()">
    Add Clothing Item
  </button>

  <!-- Upload Modal -->
  <app-upload-modal
    *ngIf="showUploadModal"
    [itemToEdit]="editingItem"
    (close)="closeUploadModal($event)">
  </app-upload-modal>

  <!-- Category Filter -->
  <div class="filters">
    <div class="filter-group">
      <label>Category</label>
      <select [(ngModel)]="filterCategory">
        <option value="">All</option>
          <option *ngFor="let c of categories" [value]="c.value">
            {{ c.label }}
          </option>
        </select>
    </div>
  
      <!-- Color Filter -->
    <div class="filter-group">
      <label>Color</label>
      <select [(ngModel)]="filterColor">
        <option value="">All</option>
        <option *ngFor="let c of colors" [value]="c.value">
          {{ c.label }}
        </option>
      </select>
    </div>
  
      <!-- Season Filter -->
    <div class="filter-group">
      <label>Season</label>
      <select [(ngModel)]="filterSeason">
        <option value="">All</option>
        <option *ngFor="let s of seasons" [value]="s.value">
          {{ s.label }}
        </option>
      </select>     
    </div>
  

  <!-- Grid of Items -->
  <div class="items-grid">
    <div *ngFor="let item of filteredItems" class="item-card">
      
      <!-- Image -->
      <img [src]="item.filename" alt="{{ item.category }}" />

      <!-- Info-->
      <div class="item-info">
        <p class="item-name">{{ item.name || 'Unnamed item' }}</p>
        <p class="item-info">
          {{ item.category }} • {{ item.colorTag }} •
          {{ item.season || 'all' }}
        </p>
      </div>

      <!-- Actions -->
      <div class="item-actions">
        <button (click)="editItem(item)">Edit</button>
        <button (click)="deleteItem(item.id)">Delete</button>
      </div>

    </div>
  </div>
</div>
